*{
    font-family: garamond;
}
body{
    background-color: rgba(222, 221, 135, 0.952);
}
nav{
 
    background-color: rgba(0, 0, 0, 0.815);
}

.nav-link{
    color: antiquewhite;
    padding: 0;
}
.nav-link:hover{
    background-color: #FFCA2C;
    border-radius: 2px;
    color: aliceblue;
    padding: 1px;
    font-size: large;
}
.signup{
    
    margin-right: 50px;
    color: antiquewhite;
    text-decoration: none;
}
.form-control{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0);
}
.box:hover{
    transform: scale(1.1);
    z-index: 2;
}
footer{
    background-color: rgba(0, 0, 0, 0.596);
    width: 100%;
    height: 100%;
    padding: 30px
}
footer ul{
    color: rgba(240, 248, 255, 0.89);
    list-style-type: none;
}
footer a{
    color: rgba(240, 248, 255, 0.397);
    text-decoration: none;
}
footer a:hover{
    color: #E39E37;
    font-size: large;
}